/* Importing font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/background_image.png");
  background-size: cover;
  font-family: "Exo", sans-serif;
  padding-bottom: 10rem;
}
/* Navbar designing */
.nav-section {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar-toggler {
  position: relative;
  bottom: 0.5rem;
}
.logo {
  position: relative;
  bottom: 0.6rem;
}
nav ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
#dropdown {
  width: 116px;
  height: 46px;
  padding-left: 1rem;
  border: 1px solid rgba(204, 163, 84, 0.45);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}
nav ul li a i {
  font-size: 20px;
  position: relative;
  bottom: 0.4rem;
  width: 47px;
  padding-top: 0.7rem;
  text-align: center;
  height: 45px;
  background: #cca354;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .nav-section {
    height: 15vh;
  }
}
/* Hero section */
.hero-section {
  margin-top: 10rem;
}
.hero-section h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
}
.brand-name {
  color: #cca354;
}
.hero-section p {
  font-size: 18px;
  line-height: 31px;
}
.hero-section button {
  width: 129.17px;
  height: 51.19px;
  background: #cca354;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
/* About Section Styling */
.about-section {
  background: url("./assets/About.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 110px;
  display: flex;
}
.about-section div {
  width: 50%;
}
.about-div {
  display: flex;
  flex-direction: column;
}
.about-div div {
  align-self: flex-start;
}
.about-div h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 44px;
  line-height: 57px;
}
.about-div h3 span {
  color: #cca354;
}
.about-div button {
  width: 140.28px;
  font-family: "Josefin Sans";
  margin-top: 20px;
  height: 51.19px;
  background: #cca354;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.about-div p {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

@media (max-width: 992px) {
  .null {
    display: none;
  }
  .about-section {
    background-position: left;
  }
  .about-div {
    display: block;
  }
}
@media (max-width: 830px) {
  .about-section {
    background-position: left;
  }
  .about-section div {
    width: 90%;
  }
}
/* Investment Plan Section */
.plan-section {
  background-color: #101113;
  padding-top: 8rem;
  padding-bottom: 5rem;
}
.plan-section h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 44px;
  line-height: 57px;
}
.plan-section h2 span {
  color: #cca354;
}
.plan-section p {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}
.card-div {
  background-image: url("./assets/card.png");
  background-position: center;
  border: 3px solid #cca354;
  box-shadow: 0px 5px 15px rgba(204, 163, 84, 0.5);
  border-radius: 8px;
  width: 310px;
  padding-bottom: 20px;
}
.card-title {
  margin-top:40px;
  text-align: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 42px;
  color: #cca354;
}
.card-list ul {
  margin-top: 1.5rem;
  width: 235px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-list ul li {
  padding: 9px 44.9688px 11.1875px 45.0312px;
  width: 244px;
  height: 48.19px;
  border-bottom: 1px solid rgba(204, 163, 84, 0.35);
  font-family: "Exo";
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
}
.card-price {
  margin-top: 2rem;
  font-family: "Exo";
  line-height: 41px;
  color: #cca354;
}
.card-btn {
  margin-left: 65px;
  border: none;
  background: #cca354;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 140.86px;
  height: 43.19px;
}

@media (max-width:1330px){
  .card-div{
    width: 275px;
  }
}

@media (max-width:992px){
  .card-div{
    width: 310px;
  }
}
